<html>
    <head>
        <title>Slang Panameño</title>
        <body>
            <h1>Slang Panameño</h1>
            <p></p>
            <p></p>
            <p></p>
            <h2>By: Jose Dondis</h2>
            <h2>Cedula: 4-812-1989</h2>
            <p></p>
            <p></p>
            <p></p>
            <p>Mopri = Significa primo.</p>
            <p></p>
            <p>Chantin: Significa casa</p>
            <p></p>
            <p>Ofi/Ofe: Significa si. Ejemplo: Ofi, yo vi esa vaina</p>
            <p></p>
            <p>Vaina: Significao cosa. Esta no solo esta en el Slang de PTY.</p>
            <p></p>
            <p>Que xopa: Significa como estas. Ejemplo: Que xopa, como has estado?.</p>
            <p></p>
            <p></p>

        </body>
    </head>
</html>